/*
COLOR PALETTE

BACKGROUND: #201A23 to #D9D4E5
TEXT: #FBFBFB to #201A23
DISPLAY: #44354A to #E5E5E5
COLOR: #9E4770 to #8C6DA6
*/

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

/* TYPOGRAPHY */
h1 {
  font-size: 48px;
}

h1,
h2 {
  margin: 5px 0;
}

/* LAYOUT */
main {
  width: 940px;
  margin: 0 auto;
  padding: 70px;
  color: #fbfbfb;
  background-color: #201a23;
}

button {
  padding: 10px 60px;
  font-size: 45px;
  background-color: #9e4770;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #773755;
}

.profile-picture {
  margin: 20px;
  height: 218px;
  background-color: #fbfbfb;
  border: 10px solid #9e4770;
  border-radius: 100%;
}

.products-container {
  margin: 10px auto 30px auto;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.statistics-container {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.display {
  margin: 0;
  background-color: #44354a;
  border-radius: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-display {
  height: 67px;
  font-size: 32px;
  padding: 10px;
}

.small-display {
  height: 86px;
  font-size: 40px;
  padding: 15px;
}

.totals-container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.reset-btn {
  padding: 20px;
  width: 100%;
  border-radius: 50px;
  color: #fbfbfb;
  font-weight: 700;
}

/* TOGGLE SWITCH STYLING */
.switch {
  position: absolute;
  top: 70px;
  right: 20%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #9e4770; /* DARK mode background color */
  border-radius: 34px;
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fbfbfb;
  border-radius: 50%;
  transition: transform 0.4s;
}

input:checked + .slider {
  background-color: #8c6da6; /* LIGHT mode background color when checked */
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* LIGHT mode styles */
.light-mode {
  background-color: #d9d4e5;
  color: #201a23;
}
.light-mode .display {
  background-color: #e5e5e5;
  color: #201a23;
}

.light-mode button {
  background-color: #8c6da6;
  color: #fbfbfb;
}

.light-mode button:hover,
.light-mode button:active {
  background-color: #50385c;
}

.light-mode .profile-picture {
  border-color: #8c6da6;
}
