*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #201a23;
  --white: #fbfbfb;
  --dm-accent: #9e4770;
  --dm-hover: #773755;
  --dm-accent-background: #201a23;
  --dm-accent-dark: #44354a;
  --lm-accent: #8c6da6;
  --lm-hover: #50385c;
  --lm-accent-background: #d9d4e5;
  --lm-accent-light: #e5e5e5;
}

html,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* TYPOGRAPHY */
h1 {
  font-size: 2rem;
}

h1,
h2 {
  margin: 0.1em 0;
}

/* BUTTONS */
button {
  padding: 0.25em 1.5em; /* 8px 48px */
  font-size: 2rem; /*32px  */
  background: var(--dm-accent);
  border: none;
  border-radius: 0.25em; /* 8px */
  cursor: pointer;
}

button:hover,
button:active {
  background: var(--dm-hover);
}

/* LAYOUT */
main {
  max-width: 768px;
  margin: 0 auto;
}

.wrapper {
  padding: 4em; /* 70px */
  color: var(--white);
  background: var(--dm-accent-background);
}

.profile-picture {
  max-height: 150px;
  margin: 1em;
  background-color: var(--white);
  border: 0.4em solid #9e4770;
  border-radius: 100%;
}

.products-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.statistics-container {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 2.5em; /* 40px */
}

.display {
  min-height: 64px;
  margin: 0 auto;
  background: var(--dm-accent-dark);
  border-radius: 3em;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: left;
}

.big-display {
  padding: 0.3em 1em;
  word-wrap: break-word;
}

.small-display {
  padding: 0.375em;
  justify-content: center;
}

.totals-container {
  margin: 3em 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.reset-btn {
  width: 100%;
  color: var(--white);
  border-radius: 3em;
  font-weight: 700;
}

/* Small screens (phones) */
@media (max-width: 768px) {
  .totals-container {
    grid-template-columns: 1fr; /* Stacks items vertically */
    margin: 1em 0; /* Adjust margin for smaller screens */
  }
}

/* TOGGLE SWITCH STYLING */
.switch {
  position: absolute;
  top: 70px;
  right: 10%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 60px; /* 120px */
  height: 30px; /* 60px */
  background: var(--dm-accent); /* DARK mode background color */
  border-radius: 20px; /* 34px */
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 25px; /* 50px */
  width: 25px; /* 50px */
  left: 3px; /* 5px */
  bottom: 3px; /* 5px */
  background: var(--white);
  border-radius: 50%;
  transition: transform 0.4s;
}

input:checked + .slider {
  background: var(--lm-accent); /* LIGHT mode background color when checked */
}

input:checked + .slider:before {
  transform: translateX(30px);
}

/* LIGHT mode styles */
.light-mode {
  background: var(--lm-accent-background);
  color: var(--dm-accent-background);
}
.light-mode .display {
  background: var(--lm-accent-light);
  color: var(--dm-accent-background);
}

.light-mode button {
  background: var(--lm-accent);
  color: var(--white);
}

.light-mode button:hover,
.light-mode button:active {
  background: var(--lm-hover);
}

.light-mode .profile-picture {
  border-color: var(--lm-accent);
}
